@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --light: #f6f6f9;
  --bg: #a5a5a5;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #383838;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --text: #000000;
}

.manag-body.dark {
  --light: #2e3239;
  --bg: #000000;
  --grey: #ffffff;
  --dark: #fbfbfb;
  --text: #f1f1f1;
}


body, .manag-body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.manag-body {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  background-color: var(--bg);
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: var(--text);
}

.manag-body .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: var(--text);
}

.toggle-theme-btn {
  top: 10px;
  right: 10px;
  background: var(--primary);
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.toggle-theme-btn:hover {
  background: #145ca8;
}
